
body {
    margin: 0px;
    /*background-color:white;
    border-width: 5px;
    border: solid green;*/
}

.view {
    width:100vw;
    height:100vh;
    /*border-width: 5px;
    border: solid red;*/
}

