
body {
    height: 100vh;
    margin: auto;
    padding: 0 50px 0 50px;
    background-color:#eaebef;
    border: solid black;
}

.header {
    background: #eef9ff;
    text-align: left;
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    border: solid green
}

.page {
    margin: 50px auto;
    width: 837px;
    background: white;
    height:90vh;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    /* border: solid black; */
    margin: 10px;
    width: fit-content;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

h2, h3 {
    /* border: solid black; */
    margin: 10px;
    width: fit-content;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
   
    background-color: #eef9ff;
  }
  
  .left {
    width: 65%;
  }
  
  .right {
    width: 35%;
    border-left: 2px solid black;
  }
  
  #cont {
    /* border: solid red; */
    padding: 30px 10px 30px 10px;
    height: 200px;
    display:flex;
    justify-content:center;
    background: #eef9ff;
   }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }