body {
  height: 100vh;
  margin: 0;
  padding: 0 5vw;
  background-color: #eaebef;
  border: solid black;
}

.header {
  background: #eef9ff;
  text-align: left;
  padding: 10px;
  margin: 0px;
  font-size: 20px;
  color: black;
  width: 100%;
}

.page {
  margin: 50px auto;
  width: 90%;
  max-width: 837px;
  background: white;
  height: 90vh;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: solid orchid; */
}

#project1 {
  /* border: solid black; */
  margin: 5px;
  margin-top: 10px;
  height:auto; 
  float: none;
}

#project2 {
  /* border: solid black; */
  margin: 5px;
  height:auto;
}

#project3 {
  /* border: solid black; */
  margin: 5px;
  height:auto;
}

h1 {
  margin: 10px;
  font-size: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2, h3 {
  margin: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  background-color: #eef9ff;
  width: auto;
}

.left {
  width: 65%;
}

.right {
  width: 35%;
  border-left: 2px solid black;
}

#cont {
  padding: 30px 10px;
  height: fit-content;
  display: flex;
  justify-content: center;
  background: #eef9ff;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  height: 200px;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  
}

.image-container {
  display: flex;
  gap: 0px; /* Adjust the gap between images if needed */
  overflow: hidden;
}

.image-container img {
  flex-shrink: 0;
  width: 100%; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  transition: width 0.3s ease; /* Optional: Smooth scaling effect */
}


/* Responsive Adjustments */
/* for screens less than 768px wide */
@media only screen and (max-width: 768px) {
  .column {
    width: 100%;
    float: none;
  }

  .row {
    height:fit-content;
    /* border: solid black; */
  }
  
  .left, .right {
    width: 100%;
  }

  .page {
    width: auto;
    margin: 20px auto;
  }

  h1, h2, h3 {
    font-size: 1rem;
  }

  .proj {
    font-size: 17px;
  }

  li {
    font-size: 11px;
  }

  .image-container img {
    width: 45%; /* Adjust the width for larger screens */
    /* border: solid red; */
  }
}

/* for screens larger than 900px wide*/
@media (min-width: 900px) {
  .image-container img {
      width: 80%; /* Adjust the width for even larger screens */
  }
}